/* Copyright: Daemon Pty Limited 2006, http://www.daemon.com.au
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#header {
    width:100%
}

    #nav-secondary a {
        width:143px
    }

        #resultslist-wrap li dl {
            display:inline
        }


/* I've added position:relative to these items below to fix the IE Peakaboo bug.
 * more about it here:
 * http://www.positioniseverything.net/explorer/peekaboo.html
 */
ol.code,
.featurebox,
#content ul,
#sidebar ul {
    position:relative
}
